<div class="container">
    <div class="row">
			    <div class="col-lg-9">
			        <h1 class="page-header"> Thanks for your support! </h1>
			    </div>
			<div class="col-lg-8 col-lg-offset-0 col-xs-11 col-xs-offset-1">
					<br />
			</div>
	</div>
</div>
