=alert_if type == :notice, message, :class => %w(alert alert-success)
=alert_if type == :alert, message, :class => %w(alert alert-error)
=alert_if type == :info, message, :class => %w(alert alert-info)
