.container
  .row
    %h1 Upload Participants (CSV)
    = form_tag 'upload_csv', :id=>"uploadForm", :multipart => true, :class=>"form-horizontal" do
      #uploadCsv.control-group
        %label.control-label CSV:
        .controls
          = file_field_tag :csv
        %br
        .alert.alert-info.template
          %strong Note:
          Make sure your CSV is formatted using this
          =link_to "#", :class => 'template-link' do
            %strong template
    
      #submit.control-group
        .controls
          = submit_tag "Start Upload", :disable_with => 'Uploading...', :class => "btn btn-info"
