<header class="intro-header" style="background-image: url('assets/about-bg.JPG')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About Us</h1>
                    <hr class="small">
                    <span class="subheading">This is what WE do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>When an Individual agrees to take bath pill once a week, technically he agrees to save water equal to 20 litres a week, 80 litres a month. After every month with 25% interest we add 20 ltr of interest to his account & account shows 100 litres. The account holder gets a monthly statement emailed to his account.</p>
            <p>We ask our members to send there monthly/yearly water consumption report. Those members who send such reports will receive some gifts as appreciation. We will analyse such reports, ask them some questions and help them minimize their water usage & get every member to open their account in our Panibank.</p>
            <p>We ask our members to speak with neighbours & let them open accounts in our Panibank through which we could access & analyze the need of perticular area.</p>
        </div>
    </div>
</div>

<hr>