<header class="intro-header" style="background-image: url('assets/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Pani Bank</h1>
                    <hr class="small">
                    <span class="subheading">Angholichi Goli</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <a href="http://www.telegraph.co.uk/travel/destinations/africa/south-africa/cape-town/articles/cape-town-drought-water-crisis-how-visitors-help/" target="_blank">
                    <h2 class="post-title">
                        Cape Town drought: What happens when the city runs out of water?
                    </h2>
                    <h3 class="post-subtitle">
                        In a worst-case scenario water rationing could last for three months.
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">Telegraph</a> on February 5, 2018</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="http://angholichigoli.com/why-angholichi-goli-bath-pill/" target="_blank">
                    <h2 class="post-title">
                        Why “Angholichi Goli – Bath Pill”
                    </h2>
                </a>
                <p class="post-meta">Posted by <a href="http://angholichigoli.com/" target="_blank">angholichigoli.com</a> </p>
            </div>
            <hr>
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="users/sign_up">Join The Movement &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr>